@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Buy some new plants right here!</h3>
    <p>Create your own urban jungle or get your homegrown herbs</p>
</div>
